
*,
*::before,
*::after{
    box-sizing: border-box;
}
:root {
    --clr-primary: #FDECEC;
    --clr-accent: #CEABC4;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    background:url('benji.png'),linear-gradient(180deg, #011342 0%, rgba(1, 19, 66, 0) 100%);
    background-repeat: no-repeat;
   color: var(--clr-primary);
    padding:1em;

  
}
 
    @media (min-width: 56.25em) {
        #sections{
            height: 100vh;
            display: flex;
        }
        
     }
  
/*  ------------------------------------------------------*/
#section-1{
    flex: 0.9;
    text-align: center;  
}
#main{
    display: flex;
    padding: 20vh 0;
    flex-direction: column;
}
#main-title1{
    padding-top: 10vh;
}
.box-title1{padding-top: 5vh;}

#main-title2{
    color: rgba(206, 171, 196, 0.863);
    font-weight: lighter;

}
span{
    color:rgb(228, 119, 245);
    font-weight: bold;
    font-size: 1.2rem;
}
/* ----------------------------------------------------- */
#section-2{
    
    
    text-align: center;
    padding-left: 10vh;
}
.box{
    width: 459px;
    height: 259px;
background: #2F4275;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
padding-left: 2vh;
padding-right: 2vh;
}


.box {
    transition: 1s ease;
    }
    
    .box:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
    }
    
.box-title{
    padding-top: 2vh;   
    color: var(--clr-accent);
}
/* ------------------------------------------------------- */

#logo{
    animation: svg-shadow 1.5s ease-in-out infinite alternate;
 
}
@keyframes svg-shadow {
    from {
      filter: drop-shadow( 0 0 5px #fff) drop-shadow( 0 0 15px #282364) drop-shadow( 0 0 20px #0092e6);
    }
  
    to {
      
      filter: drop-shadow( 0 0 20px #fff) drop-shadow( 0 0 25px #282364) drop-shadow( 0 0 40px #0092e6);
    }
  }
  #pro{
    color: rgba(206, 171, 196, 0.863);
    font-weight: lighter;
  }
  #pro {
    transition: 1s ease;
    }
    
    #pro:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }